::ng-deep .mat-mdc-dialog-surface {
  --mat-dialog-container-color: color-mix(in oklab, var(--color-black) /* #fff = #ffffff */ 35%, transparent);
  --tw-backdrop-blur: blur(var(--blur-xl) /* 24px */) !important;
  -webkit-backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,) !important;
  backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,) !important;
}
.add-links {
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function) /* cubic-bezier(0.4, 0, 0.2, 1) */);
  transition-duration: var(--tw-duration, var(--default-transition-duration) /* 150ms */);
  --tw-duration: 300ms;
  transition-duration: 300ms;
  --tw-ease: var(--ease-in) /* cubic-bezier(0.4, 0, 1, 1) */;
  transition-timing-function: var(--ease-in);
  --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  cursor: pointer;
  width: 112px;
  height: 144px;
   border-radius: var(--radius-md);
   --tw-backdrop-blur: blur(var(--blur-lg) /* 16px */);
    -webkit-backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);
    backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);
    background-color: color-mix(in oklab, var(--color-white) /* #fff = #ffffff */ 10%, transparent);
}
@media (hover: hover) {
  .add-links:hover {
    cursor: pointer;
  }
}